.body {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  background-color: #F55A5A;
  color: white;
  padding: 8px;
  font-family: Poppins;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.compass-icon {
  width: 30px;
  margin-right: 5px;
  color: white;
}

/* card */
.card {
  margin: 30px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
}

.card img {
  width: 150px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}

.card-location {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.p-location {
  margin-right: 10px;
  color: #F55A5A;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card-location a {
  text-decoration-line: underline;
  color: #918E9B;
  line-height: 12px;
  font-size: 16px;
}

.card-content h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 0;
  margin-bottom: 20px;
}

.p-date {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
